body{
font-family:Arial;
background:#111;
color:white;
text-align:center;
margin:0;
padding:10px;
}

h1{
color:#d71920;
}

#map{
height:60vh;
margin-bottom:15px;
border-radius:8px;
}

.flightCard{
background:#1b1b1b;
padding:15px;
margin:10px auto;
width:90%;
max-width:420px;
border-radius:8px;
}

#history{
max-height:260px;
overflow:auto;
background:#1b1b1b;
padding:10px;
border-radius:8px;
}
